<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!--Favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url }}" />
  <link rel="manifest" href="/assets/site.webmanifest" />

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?20201218223035" />

  <!-- OG Tag -->
  {% if page.title %} {% assign title = page.title | append: " | " | append: site.theme_settings.title %} {% else %} {%
  assign title = "Full Stack Developer | " | append: site.theme_settings.title %} {% endif %}
  <meta name="title" content="{{ title }}" />
  <meta name="author" content="{{ site.theme_settings.profile.username }}" />
  <meta name="keywords" content="{{ page.tags | join: ',' }}" />
  <meta name="description" content="{{ page.subtitle }}" />
  <meta name="robots" content="index,follow" />

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ page.subtitle }}" />
  <meta property="og:type" content="website, blog" />
  <meta property="og:image"
    content="{{ site.url }}/{% if page.image %}{{ page.image }}{% else %}{{ site.theme_settings.profile.image }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.theme_settings.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ page.subtitle }}" />
  <meta name="twitter:image"
    content="{{ site.url }}/{% if page.image %}{{ page.image }}{% else %}{{ site.theme_settings.profile.image }}{% endif %}" />

  <title>{{ title }}</title>

  {% include analytics.html %}

  {% include logrocket.html %}
</head>
